.add-button {
    display: flex;
    width: 100%;
    border-radius: 16px;  
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    transition: box-shadow 0.2s;  
    padding: 12px 0px;
}

.add-button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);  
}
