h1 {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 12vh;
    color: #006e93;
    margin-bottom: 20px;
}

.challenge-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    background: white;
}

.challenge-container h1 {
    color: #006e93;
    text-align: center;
}

.challenge-container {
    height: fit-content;
    margin: 24px auto;
    padding: 24px;
    width: fit-content;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.challenge-form {
    flex-direction: column;
    width: 800px;
}

.challenge-form .description textarea {
    height: 100px;
}

.input-box {
    width: 100%;
    margin-top: 12px;
}

.challenge-form .row {
    flex-direction: row;
}

.challenge-form label {
    color: #006e93;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
}

.challenge-form textarea, 
.challenge-form input[type="text"], 
.challenge-form input[type="number"], 
.challenge-form select {
    width: 100%;
    height: 50px;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 16px;
    margin-top: 4px;
}

.challenge-form textarea, input {
    width: 100%;
    outline: none;
    color: #707070;
    border: 1px solid #ddd;
    border-radius: 6px;
    resize: none;
    word-wrap: break-word;
    padding: 12px;
    text-align: left;
}

.challenge-form .input-box input[type="file"] {
    display: none;
}


.input-box .file-upload-button {
    height: 32px;
    outline: none;
    margin-top: 4px;
    border: 1px solid #006e93;
    border-radius: 24px;
    padding: 0 15px;
    background-color: white;
    color: #006e93;
    cursor: pointer;
}

.file-upload-button:hover {
    background-color: #005f7f;
    color: white;
}

.input-box .submit-button {
    height: 50px;
    outline: none;
    margin-top: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    background-color: #006e93;
    color: white;
    cursor: pointer;
}

.submit-button {
    margin-top: 12px;
    background-color: #006e93;
    color: white;
    border: none;
    height: 24px;
    padding:8px;
    border-radius: 6px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #005f7f;
    color: white;
}



.chall-info-edit {
    flex-direction: column;
    align-items: center;  
    padding: 20px;  

    width: 100vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.chall-info-edit h1 {
    text-align: center;  
}