.notification-card {
    border-radius: 6px;  
    padding: 16px;  
    background-color: #fff;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
    position: relative;  
    width: 95%;
    margin-bottom: 10px;
}

.delete-button {
    position: absolute;
    top: 0px;
    right: 16px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: #999;
    cursor: pointer;
}


.noification-card button:hover {
    color: #006e93;
    background: none;
}

.notification-title {
    color: #006e93;
    margin: 0;
}

.notification-card h3 {
    font-weight: bold;
    background-color: transparent;
}

.notification-content {
    margin: 5px 0;
    color: #333;
    width: 100%;
    word-wrap: break-word;
}

.notification-timestamp {
    color: #999;
    font-size: 0.9em;
    margin-top: 10px;
}
