.information-box {
    border-radius: 16px;  
    padding: 12px 16px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.label-checkbox {
    width:13px;
}

.user-info {
    display: flex;
    align-items: center;  
}

.user-icon {
    margin-right: 8px;  
}

.label {
    margin-right: 16px;  
}

.label-name {
    width: 40%;
    font-weight: bold;
    color: #006e93;
}

.label-email,
.label-content {
    color: gray;
}

.label-content {
    width: 60%;
    text-align: end;
}

.label-actions {
    align-items: center;
}

.actions {
    display: flex;
    align-items: center;  
}

.actions img {
    cursor: pointer;
    width: 20px;  
    height: 20px;  
    margin-left: 10px;  
}
