:root {
    --sky-blue: #F1F3F7;
    --light-pink: #eea8ff;
    --light-green: #6fad84;
    --light-blue: #62C6C4;
    --medium-blue: #02A6CB;
    --dark-blue: #006E93;
    --light-grey: #F1F3F7;
    --medium-grey: #D9D9D9;
    --dark-grey: #707070;
    --text-color: #333;
  }